<!DOCTYPE html>
<html>
<head>
<title>Oscar Project</title>
</head>
<body>

<h1>Base Skeleton Code</h1>
<form action="https://oscarproj1.herokuapp.com/" method="POST">
	<h2>Oscar Award</h2>
	
	<input type="radio" id="rad1" name="rad" value="rad1" checked>
	<label for="radio1">rad1</label><br>
	<input type="radio" id="rad2" name="rad" value="rad2">
	<label for="radio1">rad2</label><br>
	<input type="radio" id="rad3" name="rad" value="rad3">
	<label for="radio1">rad3</label><br>
	
	{% if selection: %}
	<h3>You selected {{ selection }}</h3>
	{% endif %}
	
	<input type="submit" value="Submit">
</form>


</body>
</html>